.header {
  width: 100vw;
  height: 56px;
  padding: 52px 136px;

  font-family: "Nunito Sans", sans-serif;
}

.header__nav {
  display: flex;
  gap: 70px;
}

.header__logo {
  cursor: pointer;

  height: 100%;
  width: 140px;
}

.header__group-links {
  display: flex;
  align-items: center;
  gap: 45px;
}

.header__link {
  cursor: pointer;

  font-weight: 500;
  font-size: 14px;
  list-style: none;

  color: var(--white);
}
